/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}
*/
enum class {{classname}} {
{{#allowableValues}}{{#enumVars}}
    {{{value}}}{{^-last}},
{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
