/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}
*/
enum class {{classname}} {
{{#allowableValues}}{{#enumVars}}{{#uppercase}}{{&name}}{{/uppercase}}{{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
