apply plugin: 'net.corda.plugins.cordapp'

cordapp {
    targetPlatformVersion corda_platform_version
    minimumPlatformVersion corda_platform_version
    contract {
        name "{{#titlecase}}{{#camelcase}}{{corDappName}}{{/camelcase}}{{/titlecase}} CorDapp"
        vendor "Web3 Labs"
        licence "Apache License, Version 2.0"
        versionId 1
    }
}

dependencies {
    compile "org.jetbrains.kotlin:kotlin-reflect:$kotlin_version"

    // Corda dependencies.
    cordaCompile("$corda_release_group:corda-core:$corda_release_version") {
        exclude group: 'com.google.errorprone'
        exclude group: 'com.fasterxml.jackson.core'
        exclude group: 'com.fasterxml.jackson.dataformat'
        exclude group: 'com.fasterxml.jackson.module'
        exclude group: 'org.glassfish.jersey.core'
        exclude group: 'org.yaml'
    }

    testCompile ("$corda_release_group:corda-node-driver:$corda_release_version") {
        exclude group: 'com.google.errorprone'
        exclude group: 'com.fasterxml.jackson.core'
        exclude group: 'com.fasterxml.jackson.dataformat'
        exclude group: 'com.fasterxml.jackson.module'
        exclude group: 'org.glassfish.jersey.core'
        exclude group: 'org.yaml'
    }
}
