package {{packageName}}.states

import {{packageName}}.{{corDappName}}Contract
import net.corda.core.contracts.BelongsToContract
import net.corda.core.contracts.ContractState
import net.corda.core.identity.AbstractParty

// *********
// * State *
// *********
@BelongsToContract({{corDappName}}Contract::class)
data class {{corDappName}}State(val data: String, override val participants: List<AbstractParty> = listOf()) : ContractState
