package {{packageName}}.workflows.api

import org.junit.jupiter.api.Assertions.assertEquals

import generated.{{packageName}}.flows.InitiatorPayload
import javax.annotation.Generated
import org.junit.jupiter.api.Test
import org.web3j.corda.network.network
import org.web3j.corda.network.nodes
import org.web3j.corda.network.party
import java.io.File
import {{packageName}}.workflows.api.Workflows

@Generated(
value = ["{{generator}}"],
date = "{{currentDate}}"
)
class WorkFlowTest {

    var network = network {
            directory = File(System.getProperty("user.dir")).parentFile
            nodes {
                party {
                    name = "O=PartyA, L=London, C=GB"
                }
            }
        }

    val text = "template"
    var payload = InitiatorPayload(text)

    @Test
    fun `start the Initiator flow`() {

    Workflows.load(network.parties[0].corda.service).flows.initiator.start(payload).apply {
            assertEquals("Hello from flow with $text", this)
        }
    }
}
