dependencies {
    // web3j-corda dependency
    implementation (group: 'org.web3j.corda', name: 'web3j-corda-core', version: web3j_corda_version) {
        exclude group: 'com.fasterxml.jackson.core'
    }

    testImplementation ("org.web3j.corda:web3j-corda-test:${web3j_corda_version}") {
        exclude group: 'com.fasterxml.jackson.core'
    }

    testImplementation "org.junit.jupiter:junit-jupiter-api:${jupiter_version}"
    testImplementation ("org.testcontainers:testcontainers:${testcontainers_version}") {
        exclude group: 'org.slf4j'
    }
    testImplementation ("io.swagger.core.v3:swagger-core:${swagger3_versions}") {
        exclude group: 'org.slf4j'
    }
    testImplementation "com.samskivert:jmustache:${jmustache_version}"
    testImplementation ("org.gradle:gradle-tooling-api:${gradle_tooling_version}") {
        exclude group: 'org.slf4j'
    }

    testRuntimeOnly "org.junit.jupiter:junit-jupiter-engine:${jupiter_version}"
    testRuntimeOnly "org.junit.vintage:junit-vintage-engine:${jupiter_version}"
}

test {
    useJUnitPlatform()
}
