dependencies {
    // web3j-corda dependency
    implementation group: 'org.web3j.corda', name: 'web3j-corda-core', version: web3j_corda_version

    testImplementation "org.web3j.corda:web3j-corda-common:${web3j_corda_version}:integration-test"

    testImplementation "org.junit.jupiter:junit-jupiter-api:5.4.2"
    testImplementation "org.testcontainers:testcontainers:1.11.2"
    testImplementation "io.swagger.core.v3:swagger-core:2.0.9"
    testImplementation "com.samskivert:jmustache:1.14"

    testRuntimeOnly "org.junit.jupiter:junit-jupiter-engine:5.4.2"
    testRuntimeOnly "org.junit.vintage:junit-vintage-engine:5.4.2"
}

test {
    useJUnitPlatform()
}