package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}

import javax.annotation.Generated

{{#models}}
    {{#model}}
        {{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{#isAlias}}typealias {{name}} = {{dataType}}{{/isAlias}}{{^isAlias}}{{>data_class}}{{/isAlias}}{{/isEnum}}
    {{/model}}
{{/models}}
